<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Hobby Project</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% block head %}
    {% endblock %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>

<body>

    <div id="content" class="mb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Shopping Assistant</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    
                </ul>
                <form action="/search" method="post" class="form-inline my-2 my-lg-0 hide">
                    <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="/static/js/assistant.js" type="text/javascript" data-options="API_ACCESS_TOKEN=3f6f00861fec41e3bb67e8ba072905a1&baseUrls=/&cssDirUrl=static/css/&jsDirUrl=static/js/&imageDirUrl=static/images/&loginTokenElementID=asdf&loginToken=CALOCALDEVV1_2387541"></script>
    
</body>

</html>